html,
body {
    width: 100%;
    height: 100%;
}

header {
    background-color: rgb(29, 21, 19);
}

header .minArea {
    width: 90%;
    height: 70px;
    margin: 0 auto;
}

header .minArea>.logo {
    height: 70px;
    line-height: 70px;
    margin-left: 70px;
    float: left;
    color: whitesmoke;
}
header .logo>h1{
    font-size: 20px;
}

header .minArea>.nav {
    float: right;
}
header .nav>li{
    height: 70px;
    line-height: 70px;
    float: left;
    color: whitesmoke;
    margin-left: 20px;
    font-size: 14px;
}